#LogoBandeauLTB {
	display: block;
	margin: 1em auto 0;
	width: 70%;
	background-color: white;	/* après le logo*/
	padding: 1.025em; 
}

bbody {
	font-size: 100%; /* Prevents an navigator bug where em's scale out of proportions */
	}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
	bbody {
	font-size: 200%; /* Prevents an navigator bug where em's scale out of proportions */
	}
}